.navbar__ripple {
  border-bottom: 4px solid #17afd4;
  .navbar__ripple-list .nav-link {
    @include font-source($name: 'League Gothic', $size: 20px, $colour: rgba(0,0,0,0.9));
    text-transform: uppercase;
    margin-right: 20px;
  }
  .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }
}
